<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">

            <!--  PatternLayout.pattern defines the way log message will appear in the logger.
            Documentation for it is here https://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/PatternLayout.html -->
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <!--  AppenderRef.ref is required and has to contain the name of the appender defined in <Appenders /> -->
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>


